.certification{
    display:flex;
    padding: 0px 9px;
    gap: 8px;
    color:#169F24;
    background: #E9FCEB;
    border: 1px solid #169F24;
    justify-content: space-between;
    align-items: center;
    width:155px;
    height:30px;
    border-radius: 50px;
}

.certification p{
    margin: 0;
    min-width: fit-content
}

.check_img_container{
    position:relative;
    width:22px;
    height:22px;
}