.StepsCheckOut{
    /* margin: 0 auto; */
    width: 100%;
    padding: 15px;
}


.logo_container{
	width: 65px;
	height: 30px;
	position: relative;
}

.steps_container{
    margin-top: 15px;
}

.step_circule_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.step_circule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    min-height: 46px;
    background: white;
    border: 1px solid #D1D5DB;
    border-radius: 100px;
}
.step_circule_check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    min-height: 46px;
    background: #ECFDF5;
    border: 1px solid #059669;
    border-radius: 100px;
    color: #059669;
}

.line{
    height: 0px;
    width: 100%;
    border: 1px solid #D1D5DB;
}

.step_txt_container{
    display: flex;
    justify-content: space-between;
}
.step_txt_container p{
   width: 90px;
   text-align: center;
}

@media screen and (min-width: 768px) {
    .StepsCheckOut{
        margin: 0 auto;
        width: fit-content;
        padding: 15px;
        width: 450px;
    } 
    
    .logo_container{
        margin: 0 auto;
    }


}