.protected_page_container{
    margin: 15px;
    padding: 10px;
    color: #059669;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #ECFDF5;
    border-radius: 12px;
}

.logo_protected_container{
    position: relative;
    width: 25px;
    height: 20px;
}

@media screen and (min-width: 768px){
    .protected_page_container{
        max-width: fit-content;
    }
}